#heading {
    color:black;
    background-color: aqua;
}

.heading {
    color:black;
    background-color: aqua;
}

body{
    background-color: bisque;
}

button {
    background-color: aquamarine;
}